* {
    margin: 0;
    padding: 0;
    /* background-color: rgb(101, 178, 255); */
}

nav {
    background-color: dodgerblue;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    position: absolute;
    position: sticky;
}

.menu a {
    color: white;
    padding: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 2vw;
    text-decoration: none;
    transition: .5s ease;
}

.menu-selection:hover {
    opacity: 5;
    background-color: rgb(24, 105, 187);
    border-bottom: 3px solid white;    
}

#menu-home {
    opacity: 5;
    background-color: rgb(24, 105, 187);
    border-bottom: 3px solid white;      
}

#menu-about {
    opacity: 5;
    background-color: rgb(24, 105, 187);
    border-bottom: 3px solid white;       
}

#menu-news {
    opacity: 5;
    background-color: rgb(24, 105, 187);
    border-bottom: 3px solid white;     
}

#menu-subs {
    opacity: 5;
    background-color: rgb(24, 105, 187);
    border-bottom: 3px solid white;       
}

.logo img {
    width: 6vw;
    height: 6vw;    
}

.banner {
    border-top: solid white;
    position: relative;
    width: 100%;
    background-color: black;
}

.banner-pic {
    width: 100%;
    transition: .5s ease;
}

.slogan {
    position: absolute;
    top: 35px;
    left: 5px;
    opacity: 0;
    transition: .5s ease;
}

.slogan h1 {
    color: white;
    font-style: italic;
    font-size: 5vw;
}

.banner:hover .banner-pic {
    opacity: 0.3;
}

#sec {
    background-color: rgb(174, 214, 255);
    padding-bottom: 5vw;
}

.banner:hover .slogan {
    opacity: 1;
}

.home-title {
    display: flex;
    flex-direction: row;

    align-items: center;
    padding: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    justify-content: space-between;
    border-bottom: 3px solid black;
}

.home-title h1 {
    font-size: 25px;
}

.home-title a {
    color: black;
}

.newsletter {
    display: flex;
    flex-direction: row;
    margin: 1vw 2vh;
    border-bottom: 3px;
    border-bottom-style: solid;    
}

.newsletter img {
    width: 8vw;
    height: 8vw;
    padding-left: 1vw;
    padding-right: 3vw;
    padding-bottom: 3vw;        
}

.newsletter-desc {
    padding-top: 1vw;
    padding-bottom: 2vw;
}

.subshome-text {
    padding-top: 3vw;
    padding-bottom: 5vw;
    text-align: center; 
}

.subs {
    padding-bottom: 7vw;
}

.subshome-text h2 {
    font-size: 3vw;
}

.subs-button {
    text-align: center;
}

.subs-button a {
    padding: 2vw 4vh;
    background-color: red;
    color: white;
    transition: .5s ease;
    text-decoration: none;
}

.subs-button:hover a {
    background-color: white;
    color: red;
    border: 3px solid red;    
}

.foot {
    border-top: 3px solid white; 
    background-color: dodgerblue;
    display: flex;
    flex-direction: row;

    align-items: center;

    width: 100%;
    position: absolute;
}

.foot h1 {
    padding-right: 3vw;
    padding-left: 3vw;
    color: white;
    font-size: 3vw;
}

.sosmed {
    width: 5vw;
    height: 5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    transition: .5s ease;
}

.sosmed:hover {
    opacity: 5;
    background-color: rgb(24, 105, 187);
    border-bottom: white solid;
}



/* Newsletter */
.banner-about {
    border-top: solid white;
    position: relative;
}

.banner-pic {
    width: 100%;
    transition: .5s ease;
}

.news-title {
    padding-top: 3vw;
    padding-left: 2vw;
}

.news-title h1 {
    font-size: 50px;
    padding-bottom: 1vw;
}

.news-title p {
    font-size: 25px;
    padding-bottom: 1vw;
}

.news-section {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.about-title {
    padding-top: 3vw;
    padding-left: 5vw;
}

.about-title h1 {
    font-size: 50px;
    padding-bottom: 1vw;
}

.about-title p {
    font-size: 25px;
    padding-bottom: 1vw;
}

.about-part {
    padding-top: 3vw;
    padding-left: 5vw;
}

.about-part h2 {
    font-size: 35px;
    padding-bottom: 1vw;
}

.about-part p {
    font-size: 25px;
    padding-bottom: 1vw;
}

.sosmed-about {
    width: 5vw;
    height: 5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

/* FORMS */

.input-container {
    padding-bottom: 2vw;
    padding-left: 30vw;
    padding-right: 30vw;    
}

.input-container-top {
    padding-top: 3vw;
    padding-bottom: 2vw;
    padding-left: 30vw;
    padding-right: 30vw;    
}

.label {
    padding-right: 3vw;
}

#error-message {
    display: none;
}